/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

app/Console
app/Exceptions
app/Http/Middleware
app/Http/Kernel.php
app/Providers
bootstrap
config
tests
storage
resources/js
resources/lang
resources/sass
public

.env.example
.gitattributes
.editorconfig
.styleci.yml
artisan
composer.lock
phpunit.xml
webpack.mix.js

database/factories
database/seeds